
.slideShow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #444;
}
.slideShow-element {
    background-color: #111;
    border-radius: 30px;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .6s;
}

.current{
    transform: translate(-50%, -50%) scale(1);
}

h2 {
    text-align: center;
    color: white;
    font-size: 3rem;
}
p {
    margin: auto;
    text-align: center;
    width: 400px;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}